/* general rules */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.user-name, #notifications-text div {
    font-weight: 700;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.avatar {
    max-width: 70px;
    border-radius: 50%;
}

.actions {
    display: flex;
}

.actions .fas {
    font-size: 20px;
    color: rgba(180,180,180,255);
    margin: 5px;
    cursor: pointer;
}


/* background  */
#bg-top {
    height: 15vh;
    background-color: rgba(2,149,136,255);
}

#bg-down {
    height: 85vh;
    background-color: rgba(220,219,210,255);
}


/* main content  */
#container-app {
    width: 90%;
    min-width: 500px;
    height: 95vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#col-sx #notifications-text span ,
.text-container div {
    font-weight:700;
}

    /* col-sx  */
#col-sx {
    width: 450px;
    height: 100%;
    float: left;
    background-color: rgba(250,250,250,255);
}

/* user name  */
#col-sx #user, #col-dx #chat-bar {
    height: 80px;
    background-color: rgba(234,234,234,255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user #user-info {
    display: flex;
    align-items: center;
}

#user #user-info img,
#col-dx #chat-bar img {
    margin-right: 15px;
}

#user, #chat-bar {
    padding: 0 20px 0 10px;
}


/* notifications  */
#col-sx #notifications {
    height: 70px;
    background-color: rgba(142,218,252,255);
    padding: 0 20px;
    display: flex;
    align-items: center;
}

#notifications #avatar-notif {
    font-size: 20px;
    color: rgba(142,218,252,255);
    border-radius: 50%;
    background-color: white;
    padding: 15px 10px;
    margin-right: 15px;
    cursor: pointer;
}


#col-sx #notifications-text span {
    font-size: 12px;
    text-decoration: underline;
    color: rgb(99 105 108);
    cursor: pointer;
}

#col-sx #notifications-text span:hover {
    color: darkblue;
}

/* search  */
#col-sx #search {
    height: 35px;
    margin: 10px;
    background-color: rgba(255,255,255,255);
    color: rgba(180,180,180,255);
    display: flex;
    align-items: center;
}

#col-sx #search input {
    max-width: 450px;
    width: 80%;
}

#search input {
    border: none;
    height: 30px;
    padding: 5px;
}

#col-sx #search .fas {
    margin: 0 20px;
}




/* contact list  */
#contact-list {
    height: calc(98% - 200px);
    overflow-y: auto;
}

.contact {
    padding: 10px;
    border-top: 1px solid #e2e2e2;
    cursor:pointer;
    position: relative;
}

.contact:hover {
    background-color: rgba(128, 128, 128, 0.1);
}


.contact.active {
    background-color: rgba(217 217 217);
}

.info-contact {
    display: flex;
}

.contact .info-contact img {
    margin: 0 20px;
}

.text-container span {
    font-size: 20px;
    font-weight: bold;
}

.text-container div,
.chat-date {
    font-size: 15px;
    color: rgba(181,185,187,255);
}

.contact .chat-date {
    position: absolute;
    top: 2px;
    right: 10px;
}



    /* col-dx  */
#col-dx {
    width: calc(100% - 450px);
    height: 100%;
    float: left;
}

/* user name open chat  */
#col-dx #chat-bar {
    border-left: 1px solid #b6b6b6;
}

#col-dx #chat-bar .info-contact {
    align-items: center;
}

    /* chat  */
#col-dx #chat {
    height: calc(100% - 150px);
    background-image: url("../img/bg-chat.jpg");
    position: relative;
}

#col-dx .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(229,221,213, 0.7);
    padding: 60px 60px 0 60px;
    overflow-y: auto;
    
}

.message-wrapper {
    width: 100%;
    min-height: 40px;
    margin-bottom: 10px;
}

.message {
    width: 40%;
    min-width: 150px;
    padding: 15px 10px 5px 15px;
    border-radius: 10px;
    position: relative;
}

.sent {
    float: right;
    background-color: rgba(213,249,186,255);
}

.received {
    float: left;
    background-color: rgba(255,255,255,255);
}

.msg-text, .msg-date {
    display: block;
}

.msg-date {
    text-align: right;
    font-size: 10px;
    color: rgba(181,185,187,255);
    margin-top: 5px;
}

/* dropdown menu  */

.message i {
    position: absolute;
    top: 15px;
    right: 15px;
    color: grey;
    display: none;
    cursor: pointer;
}

.message:hover i{
    display: inline;
}

#drop-down-menu {
    background-color: #f1f1f1;
    max-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    top: 30px;
    right: 15px;
    z-index: 1;
    display: none;
}

#drop-down-menu.dblock{
    display: block;
}

#drop-down-menu li {
    padding: 10px 15px;
    display: block;
}

#drop-down-menu li:hover {
    background-color: #ddd;
    cursor: pointer;
} 



    /* new msg.  */
#col-dx #new-msg {
    height: 70px; 
    background-color: rgba(243,238,234,255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#col-dx #new-msg i {
    font-size: 20px;
    color: rgba(106,115,118,255);
    margin: 5px;
    cursor: pointer;
}

#message-input {
    width: 800px;
    padding: 10px;
    border: none;
}
