<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>BoolzApp</title>
</head>
<body>

    <!-- background  -->
    <div class="background">
        <div id="bg-top"></div>
        <div id="bg-down"></div>
    </div>

    <!-- main content  -->
    <div id="container-app" class="clearfix">
        <!-- col-sx  -->
        <div id="col-sx">
            <!-- user name  -->
            <div id="user">
                <!-- content left -->
                <div id="user-info">
                    <!-- avatar  -->
                    <img src="img/avatar_io.jpg" alt="Mia foto" class="avatar">
                    <!-- user name  -->
                    <span class="user-name">Nome Utente</span>
                </div>
                
                <!-- content right  -->
                <div class="actions">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <!-- notifications -->
            <div id="notifications">
                <!-- avatar  -->
                <i class="fas fa-bell-slash" id="avatar-notif"></i>

                <!-- text  -->
                <div id="notifications-text">
                    <div>Ricevi notifiche di nuovi messaggi</div>
                    <span>Attiva notifiche desktop</span>
                </div>

            </div>
            

            <!-- search  -->
            <div id="search">
                <i class="fas fa-search"></i>
                <input v-model="search" type="text" placeholder="Cerca o inizia una nuova chat">
            </div>

            <!-- contact list  -->
            <section id="contact-list">
                <div class="contact clearfix" v-for="contact,i in contacts" v-if="contact.name.toLowerCase().includes(search.toLowerCase())"  :key="i" @click=activeChat(i) :class="i === activeContact ? 'active': ''">
                    <div class="info-contact">
                        <img :src="contact.avatar" :alt="contact.name" class="avatar" >

                        <div class="text-container">
                            <span>{{contact.name}}</span>
                            <div>{{contact.messages[contact.messages.length-1].text}}</div>
                        </div>
                    </div>

                    <div class="chat-date">
                        {{contact.messages[contact.messages.length-1].date}}
                    </div>
                </div>
            </section>
        </div>

        <!-- col-dx  -->
        <div id="col-dx">
            <!-- user name open chat  -->
            <div id="chat-bar">
                <!-- content left -->
                <div class="info-contact">
                    <img :src="contacts[activeContact].avatar" :alt="contacts[activeContact].name" class="avatar" >

                    <div class="text-container">
                        <span>{{contacts[activeContact].name}}</span>
                        <div>Ultimo accesso: {{contacts[activeContact].messages[contacts[activeContact].messages.length - 1].date}}</div>
                    </div>
                </div>
                
                <!-- content right  -->
                <div class="actions">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
        
                
            </div>

            <!-- chat  -->
            <div id="chat">
                <div class="overlay">
                    <div v-for="element in contacts[activeContact].messages" class="message-wrapper clearfix">
                        <div class="message" :class="element.status">
                            <span class="msg-text">
                                {{element.text}}
                            </span>
                            
                            <span class="msg-date">
                                {{element.date}}
                           </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- new msg.  -->
            <div id="new-msg">
                <!-- smile icon  -->
                <i class="far fa-smile"></i>

                <!-- write a new message  -->
                <input id="message-input" type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendNewMessage">

                <!-- microphone -->
                <i class="fas fa-microphone"></i>
            </div>
        </div>
    </div>

   
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>