<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>BoolzApp</title>
</head>
<body>

    <!-- background  -->
    <div class="background">
        <div id="bg-top"></div>
        <div id="bg-down"></div>
    </div>

    <!-- main content  -->
    <div id="container-app" class="clearfix">
        <!-- col-sx  -->
        <div id="col-sx">
            <!-- user name  -->
            <div id="user">
                <!-- content left -->
                <div id="user-info">
                    <!-- avatar  -->
                    <img src="img/avatar_io.jpg" alt="Mia foto" class="avatar">
                    <!-- user name  -->
                    <span class="user-name">Nome Utente</span>
                </div>
                
                <!-- content right  -->
                <div class="actions">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <!-- notifications -->
            <div id="notifications">
                <!-- avatar  -->
                <i class="fas fa-bell-slash" id="avatar-notif"></i>

                <!-- text  -->
                <div id="notifications-text">
                    <div>Ricevi notifiche di nuovi messaggi</div>
                    <span>Attiva notifiche desktop</span>
                </div>

            </div>
            

            <!-- search  -->
            <div id="search">
                <i class="fas fa-search"></i>
                <span>Cerca o inizia una nuova chat</span>
            </div>

            <!-- contact list  -->
            <section id="contact-list">
                <div class="contact clearfix" v-for="contact,i in contacts" :key="i" @click=activeChat(i)>
                    <div class="info-contact">
                        <img :src="contact.avatar" :alt="contact.name" class="avatar" >

                        <div class="text-container">
                            <span>{{contact.name}}</span>
                            <div>{{contact.messages[contact.messages.length-1].text}}</div>
                        </div>
                    </div>

                    <div class="chat-date">
                        {{contact.messages[contact.messages.length-1].date}}
                    </div>
                </div>

                <!-- <div class="contact clearfix" >
                    <div class="info-contact">
                        <img src="img/avatar_1.jpg" alt="profile image" class="avatar" >

                        <div class="text-container">
                            <span>Michele</span>
                            <div>Ultimo messaggio</div>
                        </div>
                    </div>

                    <div class="chat-date">
                        10/01/2020 16:15:22
                    </div>
                </div>

                <div class="contact clearfix">
                    <div class="info-contact">
                        <img src="img/avatar_2.jpg" alt="profile image" class="avatar" >

                        <div class="text-container">
                            <span>Fabio</span>
                            <div>Ultimo messaggio</div>
                        </div>
                    </div>

                    <div class="chat-date">
                        20/03/2020 16:35:00
                    </div>
                </div>

                <div class="contact clearfix">
                    <div class="info-contact">
                        <img src="img/avatar_3.jpg" alt="profile image" class="avatar" >

                        <div class="text-container">
                            <span>Samuele</span>
                            <div>Ultimo messaggio</div>
                        </div>
                    </div>

                    <div class="chat-date">
                        28/03/2020 16:15:22
                    </div>
                </div>

                <div class="contact clearfix">
                    <div class="info-contact">
                        <img src="img/avatar_4.jpg" alt="profile image" class="avatar" >

                        <div class="text-container">
                            <span>Luisa</span>
                            <div>Ultimo messaggio</div>
                        </div>
                    </div>

                    <div class="chat-date">
                        10/01/2020 15:50:00
                    </div>
                </div> --> 
                
            </section>
        </div>

        <!-- col-dx  -->
        <div id="col-dx">
            <!-- user name open chat  -->
            <div id="chat-bar">
                <!-- content left -->
                <div class="info-contact">
                    <img :src="contacts[activeContact].avatar" :alt="contacts[activeContact].name" class="avatar" >

                    <div class="text-container">
                        <span>{{contacts[activeContact].name}}</span>
                        <div>Ultimo accesso oggi alle... </div>
                    </div>
                </div>


                <!-- <div id="interlocutor-info"> -->
                    <!-- avatar  -->
                    <!-- <img :src="contact.avatar" alt="foto avatar 1" class="avatar"> -->

                    <!-- user name  -->
                    <!-- <span class="user-name">{{contact.name}}</span> -->

                    <!-- last seen  -->
                    <!-- <div>
                        Ultimo accesso oggi alle...
                    </div>
                </div> -->
                
                <!-- content right  -->
                <div class="actions">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
        
                
            </div>

            <!-- chat  -->
            <div id="chat">
                <div class="overlay">
                    <div v-for="element in contacts[activeContact].messages" class="message-wrapper clearfix">
                        <div class="message" :class="element.status">
                            <span class="msg-text">
                                {{element.text}}
                                <!-- Hai portato a spasso il cane? -->
                            </span>
                            
                            <span class="msg-date">
                                {{element.date}}
                               <!-- 10/01/2020 15:30:55 -->
                           </span>
                        </div>
                    </div>

                    <!-- sent msg. -->
                    <!-- <div class="message-wrapper clearfix">
                        <div class="message sent">
                            <span class="msg-text">
                                Hai portato a spasso il cane?
                            </span>
                            
                            <span class="msg-date">
                               10/01/2020 15:30:55
                           </span>
                        </div>
                    </div> -->
    
                     <!-- sent msg. -->
                    <!-- <div class="message-wrapper clearfix">
                        <div class="message sent">
                            <span class="msg-text">
                                Ricordati di dargli da mangiare 
                            </span>
                            
                            <span class="msg-date">
                                10/01/2020 15:32:00
                            </span>
                        </div>
                    </div> -->
                    
                    <!-- received msg.  -->
                    <!-- <div class="message-wrapper clearfix">
                        <div class="message received">
                            <span class="msg-text">
                                Tutto fatto!
                            </span>
                            
                            <span class="msg-date">
                                10/01/2020 16:32:00
                            </span>
                        </div>
                    </div> -->
                </div>
            </div>

            <!-- new msg.  -->
            <div id="new-msg">
                <!-- smile icon  -->
                <i class="far fa-smile"></i>

                <!-- write a new message  -->
                <input id="message-input"type="text" placeholder="Scrivi un messaggio">

                <!-- microphone -->
                <i class="fas fa-microphone"></i>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>